// Primary Colors
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

// Neutral Colors
$dark-gray: hsl(0, 0%, 59%);

// Font Families
$ff-Kumbh-Sans: "Kumbh Sans", sans-serif;

// Font Weights
$fw-400: 400;
$fw-700: 700;
